body{
	background-color:#012C59;
	color: white;
	padding:20px;
    text-shadow: 1px 2px #004A95;
}
select{
	display: block;
	width:79%;
	color:#012C59;
}
.row{
	padding: 10px;
}
.container{
	width:800px;
	padding: 5px;
	margin:0 auto;
}

.col-sm-1{
	margin-top: 100px;
	color:#012C59;
}
h1{
    font-size:40px;
    font-weight: bold;
    text-shadow: 3px 2px 2px #004A95;
    text-align:center;
    padding:35px;
}
.glyphicon{
    font-size:40px;
    margin:5px;
    color:white;
    text-shadow: 2px 2px 2px #004A95;
}
.names{
    width:39.5%;
}
.orgk{
   width: 79%;
}

[type='button']{
    color:#012C59;
}


@media screen and (max-width: 767px){
   body{
        padding: 8px;
        font-size: 13px;
    }
    select{
        display: block;
        width:90%;
        color:#012C59;
    }
    .row{
        padding:3px;
    }

    .container{
        width:90%;
        padding: 2px;
        margin:0 auto;
    }

    h1{
        font-size:20px;
        font-weight: bold;
        text-shadow: 3px 2px 2px #004A95;
        padding:5px;
    }
    .glyphicon{
        font-size:16px;
        color:white;
        text-shadow: 2px 2px 2px #004A95;
        
    }
    
    .names{
    width:45%;
    }
    .orgk{
    width: 90%;
    }
   
}



@media screen and (max-width: 400px) {
    body{
        font-size: 11px;
        padding: 8px;
    }
    select{
        display: block;
        width:90%;
        color:#012C59;
    }
    .row{
        padding:3px;
    }

    .container{
        width:90%;
        padding: 2px;
        margin:0 auto;
    }

    h1{
        font-size:15px;
        font-weight: bold;
        text-shadow: 3px 2px 2px #004A95;
        padding:5px;
    }
    .glyphicon{
        font-size:12px;
        color:white;
        text-shadow: 2px 2px 2px #004A95;
        
    }
    
    .names{
    width:45%;
    }
    .orgk{
    width: 90%;
    }
}